<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="absolute top-0 bg-shape-top bg-no-repeat bg-cover w-full"></div>
    <div id="home" class="landing-wrapper z-1">
        <div class="px-4 md:px-8 flex align-items-center justify-content-between relative lg:static" style="min-height: 80px">
            <div class="flex gap-2 align-items-center text-white mr-0 lg:mr-6 select-none">
                <img src="assets/layout/images/logo-white.svg" class="w-2rem h-2rem">
                <span class="font-bold text-3xl">DIAMOND</span>
            </div>
            <a pRipple class="cursor-pointer block lg:hidden text-white" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <div id="menu" class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 top-100 z-1 shadow-2 lg:shadow-none md:bg-transparent">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
                    <li>
                        <a pRipple (click)="router.navigate(['/landing'], {fragment: 'home'})" class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <span>HOME</span>
                        </a>
                    </li>
                    <li class="lg:relative">
                        <a pRipple (click)="router.navigate(['/landing'], {fragment: 'features'})" class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <span>MEET DIAMOND</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple (click)="router.navigate(['/landing'], {fragment: 'theming'})" class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <span>THEMING</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple (click)="router.navigate(['/landing'], {fragment: 'pricing'})" class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <span>PRICING</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <span>BUY NOW</span>
                        </a>
                    </li>
                </ul>
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">
                    <li>
                        <a pRipple (click)="router.navigate(['/landing'], {fragment: 'contact'})" class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <span>CONTACT</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <i class="pi pi-github text-2xl lg:text-xl mr-2 lg:mr-0"></i>
                            <span class="lg:hidden">Github</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:text-white text-lg white-space-nowrap">
                            <i class="pi pi-twitter text-2xl lg:text-xl mr-2 lg:mr-0"></i>
                            <span class="lg:hidden">Twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="px-4 md:px-8 z-2">
            <div class="grid justify-content-between mb-6 md:mb-8 mt-5">
                <div class="col-12 lg:col-6 text-center lg:text-left flex flex-column gap-3">
                    <span class="font-bold text-4xl text-white text-center md:text-left w-full md:w-9">PrimeTek Proudly Presents Theme Diamond</span>
                    <p class="w-full md:w-9 text-center md:text-left font-semibold text-white">Modern and elegant responsive application template with a premium look for PrimeNG components.</p>
                    <a role="button" pRipple class="p-button px-6 py-2 w-15rem flex align-self-center md:align-self-start justify-content-center align-items-center surface-section font-bold cursor-pointer border-none hover:bg-primary-100 shadow-3 md:shadow-none" style="color: var(--primary-800)">LEARN MORE</a>
                </div>
                <div class="col-12 text-center md:text-right lg:col-6">
                    <img animateEnter="moveinright" src="assets/demo/images/landing/header-image.png" class="w-full sm:w-auto">
                </div>
            </div>
            
            <div id="features" class="my-6 md:my-8 py-4">
                <div class="w-full text-center">
                    <span class="block font-bold text-5xl mb-2">Meet Diamond</span>
                    <span class="block font-bold text-lg text-color-secondary">Full Customizable Template</span>
                </div>
                <div class="grid mt-8">
                    <div class="col-12 md:col-6 lg:col-3 text-center px-5">
                        <img animateEnter="moveinleft" src="assets/demo/images/landing/icon-devices.svg" alt="Devices" class="w-3rem h-3rem mb-4">
                        <span class="text-2xl font-bold block">Responsive</span>
                        <span class="font-bold block mt-3 text-color-secondary">Nam non ligula sed urna malesuada lacinia. Aliquam sed viverra ipsum.</span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 text-center px-5">
                        <img animateEnter="fadeindown" src="assets/demo/images/landing/icon-design.svg" alt="Devices" class="w-3rem h-3rem mb-4">
                        <span class="text-2xl font-bold block">Modern Design</span>
                        <span class="font-bold block mt-3 text-color-secondary">Nam non ligula sed urna malesuada lacinia. Aliquam sed viverra ipsum.</span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 text-center px-5">
                        <img animateEnter="fadeindown" src="assets/demo/images/landing/icon-document.svg" alt="Devices" class="w-3rem h-3rem mb-4">
                        <span class="text-2xl font-bold block">Well Documented</span>
                        <span class="font-bold block mt-3 text-color-secondary">Nam non ligula sed urna malesuada lacinia. Aliquam sed viverra ipsum.</span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 text-center px-5">
                        <img animateEnter="moveinright" src="assets/demo/images/landing/icon-diamond.svg" alt="Devices" class="w-3rem h-3rem mb-4">
                        <span class="text-2xl font-bold block">Premium Support</span>
                        <span class="font-bold block mt-3 text-color-secondary">Nam non ligula sed urna malesuada lacinia. Aliquam sed viverra ipsum.</span>
                    </div>
                </div>
            </div>
        
            <div id="theming" class="grid row-gap-8 my-6 md:my-8 py-4 justify-content-between align-items-center">
                <div class="col-12 md:col-5 flex-order-0">
                    <div class="w-5rem bg-primary mb-2 border-round" style="height: 4px;"></div>
                    <span class="text-2xl font-bold block mb-4">Cras suscipit mauris nisl. Donec molestie maximus tellus</span>
                    <span class="block font-semibold">Cras suscipit mauris nisl. Donec molestie maximus tellus, eu congue elit interdum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean finibus laoreet lorem, non pretium elit. Nunc vel commodo velit, eu venenatis dolor.</span>
                </div>
                <div class="col-12 md:col-6 flex-order-1">
                    <img animateEnter="moveinright" src="assets/demo/images/landing/feature-image-1.png" class="w-full" alt="Theming">
                </div>

                <div class="col-12 md:col-6 flex-order-3 md:flex-order-2">
                    <img animateEnter="moveinleft" src="assets/demo/images/landing/feature-image-2.png" class="w-full" alt="Theming">
                </div>
                <div class="col-12 md:col-5 text-right h-full flex-order-2 md:flex-order-3">
                    <div class="w-5rem bg-primary mb-2 border-round ml-auto" style="height: 4px;"></div>
                    <span class="text-2xl font-bold block mb-4">Cras suscipit mauris nisl. Donec molestie maximus tellus</span>
                    <span class="block font-semibold">Cras suscipit mauris nisl. Donec molestie maximus tellus, eu congue elit interdum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean finibus laoreet lorem, non pretium elit. Nunc vel commodo velit, eu venenatis dolor.</span>
                </div>

                <div class="col-12 md:col-5 flex-order-4">
                    <div class="w-5rem bg-primary mb-2 border-round" style="height: 4px;"></div>
                    <span class="text-2xl font-bold block mb-4">Cras suscipit mauris nisl. Donec molestie maximus tellus</span>
                    <span class="block font-semibold">Cras suscipit mauris nisl. Donec molestie maximus tellus, eu congue elit interdum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean finibus laoreet lorem, non pretium elit. Nunc vel commodo velit, eu venenatis dolor.</span>
                </div>
                <div class="col-12 md:col-6 flex-order-5">
                    <img animateEnter="moveinright" src="assets/demo/images/landing/feature-image-3.png" class="w-full" alt="Theming">
                </div>
            </div>

            <div id="pricing" class="my-6 md:my-8 py-4 text-center">
                <span class="block font-bold text-5xl mb-3">Our Pricing</span>
                <span class="block font-bold text-color-secondary text-xl">The best price for our customers</span>

                <div class="grid justify-content-center lg:justify-content-between xl:justify-content-center mt-7">
                    <div class="col-12 md:col-6 lg:col-4 xl:col-3 lg:p-3 xl:p-5 flex-shrink-0">
                        <div class="card py-5 shadow-6 bg-blue-500 text-white">
                            <span class="block text-2xl font-bold mb-3">BASIC</span>
                            <span class="block text-xl font-semibold mb-3">Starting from</span>
                            <span class="block text-xl font-bold">$5</span>
                            <ul class="list-none mx-0 mt-3 p-0">
                                <li class="font-semibold">Responsive Layout</li>
                                <li class="mt-3 font-semibold">Unlimited Push Messages</li>
                                <li class="mt-3 font-semibold">50 Support Ticket</li>
                                <li class="mt-3 font-semibold">Free Shipping</li>
                                <li class="mt-3 font-semibold">10GB Storage</li>
                            </ul>

                            <a pRipple class="p-button w-10 font-bold bg-blue-600 text-white mt-4 flex justify-content-center mx-auto select-none border-none hover:bg-blue-400">BUY NOW</a>
                        </div>
                    </div>

                    <div class="col-12 md:col-6 lg:col-4 xl:col-3 lg:p-3 xl:p-5 flex-shrink-0">
                        <div class="card py-5 shadow-6 text-white" style="background-image: linear-gradient(45deg, var(--blue-700) 0%, var(--blue-500) 100%);">
                            <span class="block text-2xl font-bold mb-3">ELITE</span>
                            <span class="block text-xl font-semibold mb-3">Starting from</span>
                            <span class="block text-xl font-bold">$9</span>
                            <ul class="list-none mx-0 mt-3 p-0">
                                <li class="font-semibold">Responsive Layout</li>
                                <li class="mt-3 font-semibold">Unlimited Push Messages</li>
                                <li class="mt-3 font-semibold">50 Support Ticket</li>
                                <li class="mt-3 font-semibold">Free Shipping</li>
                                <li class="mt-3 font-semibold">10GB Storage</li>
                            </ul>


                            <a pRipple class="p-button w-10 font-bold bg-blue-600 text-white mt-4 flex justify-content-center mx-auto select-none border-none hover:bg-blue-700">BUY NOW</a>
                        </div>
                    </div>

                    <div class="col-12 md:col-6 lg:col-4 xl:col-3 lg:p-3 xl:p-5 flex-shrink-0">
                        <div class="card py-5 shadow-6 bg-blue-500 text-white">
                            <span class="block text-2xl font-bold mb-3">PRO</span>
                            <span class="block text-xl font-semibold mb-3">Starting from</span>
                            <span class="block text-xl font-bold">$19</span>
                            <ul class="list-none mx-0 mt-3 p-0">
                                <li class="font-semibold">Responsive Layout</li>
                                <li class="mt-3 font-semibold">Unlimited Push Messages</li>
                                <li class="mt-3 font-semibold">50 Support Ticket</li>
                                <li class="mt-3 font-semibold">Free Shipping</li>
                                <li class="mt-3 font-semibold">10GB Storage</li>
                            </ul>

                            <a pRipple class="p-button w-10 font-bold bg-blue-600 text-white mt-4 flex justify-content-center mx-auto select-none border-none hover:bg-blue-400">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contact" class="grid justify-content-center lg:justify-content-evenly mt-6 md:mt-8 pt-4">
                <div class="col-12 text-center mb-5 text-white">
                    <span class="block text-5xl font-bold mb-3">Let's Get In Touch</span>
                    <span class="block text-xl font-bold">Just drop us an email</span>
                </div>

                <div class="col-12 sm:col-7 lg:col-4 lg:px-5">
                    <div class="card py-5 flex flex-column gap-4 shadow-4">
                        <span class="block font-bold text-lg">Say hi to the team</span>

                        <input type="text" pInputText placeholder="Full Name"/>
                        <input type="text" pInputText placeholder="Email Address"/>
                        <textarea pInputTextarea rows="7" placeholder="Your Message"></textarea>

                        <a pRipple class="p-button w-full font-bold bg-blue-600 text-white mt-2 flex justify-content-center mx-auto select-none border-none hover:bg-blue-400">SEND A MESSAGE</a>
                    </div>
                </div>
                <div class="hidden lg:block lg:col-4 text-white">
                    <span class="block lg:text-5xl xl:text-6xl font-bold white-space-nowrap">Feel free to contact us<br/>and we will get<br/>back to you<br/>as soon as we can.</span>
                    <div class="grid mt-6">
                        <div class="col-6">
                            <span class="text-2xl font-bold">Opening Hours</span>
                            <ul class="list-none mx-0 p-0 mt-3">
                                <li class="font-semibold">Monday - Friday</li>
                                <li class="font-semibold">9am - 6pm</li>
                                <li class="font-semibold">Weekend</li>
                                <li class="font-semibold">Closed</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <span class="text-2xl font-bold block">Address</span>
                            <span class="font-semibold white-space-nowrap block mt-3">Cras suscipit mauris nisl.<br/>Donec molestie<br/>maximus tellus</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex align-items-center justify-content-between px-4 md:px-8 py-4 mt-5">
            <div class="flex gap-2 align-items-center text-white select-none">
                <img src="assets/layout/images/logo-white.svg" class="w-2rem h-2rem">
                <span class="font-bold text-3xl">DIAMOND</span>
            </div>
            <div class="flex">
                <i class="pi pi-github text-xl px-6 p-3 lg:px-3 lg:py-2 align-items-center text-white hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"></i>
                <i class="pi pi-twitter text-xl px-6 p-3 lg:px-3 lg:py-2 align-items-center text-white hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"></i>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 bg-shape-bottom bg-no-repeat bg-cover w-full"></div>
</div>